.box-grid {
  display: flex;
  flex-wrap: nowrap;
  width: 100vw;

  height: 17.5rem * 2;
  position: relative;
  overflow: hidden;

  &__cell {
    display: flex;
    flex-direction: column;

    padding: 3.125rem 2.5rem;
    height: 17.5rem;

    &--pink {
      color: $white;
      background-color: $pink;
    }

    &--purple {
      color: $white;
      background-color: $purple;
    }

    &--picture {
      color: $white;
      @extend %background-image;
    }

    &--purple-light {
      color: $white;
      background-color: $purple-light;
    }

    &--green {
      color: $white;
      background-color: $green;
    }
  }

  &__heading {
    line-height: 1;
    margin-bottom: 1.25rem;
  }

  &__description {
    font-size: 0.8125rem;
    margin-bottom: 1.25rem;
  }

  &__link {
    margin-top: auto;
  }

  &__arrow {
  }

  &__container {
    margin: 0;

    &--left,
    &--right {
      flex: 1 0 100%;
    }

    &--left {
    }

    &--right {
      /* Hack */
      margin-left: -1px;
    }
  }

  @include media-breakpoint-down(lg) {
    flex-direction: column;
    height: auto;
    width: auto;
  }
}