.footer {
  background-color: $footer-bg;
  color: $footer-color;
  padding: 8.125rem 0;

  &__heading {
    font-weight: 600;
    margin-bottom: 1.875rem;
  }

  &__description {
    line-height: 1.95;
  }

  &__top {
    margin-bottom: 4.6875rem;
  }

  &__menu {
    .menu__item a {
      margin-bottom: 0.75rem;
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: 1.875rem;
    }
  }

  @include media-breakpoint-down(sm) {
    padding: calc(8.125rem/2) 0;
  }
}

.newsletter {
  &__input {
    display: flex;
    input {
      line-height: 1;
      padding: 1.25rem;
      background-color: $white;
      width: 100%;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      border: none;
    }
  }

  &__submit {
    padding: 1.2rem 1.5625rem;
    background-color: $green;
    border: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    &::before {
      @extend %background-image;
      content: "";
      width: 24px;
      height: 18px;
      display: inline-block;
      background-image: url("../images/success.png");
    }
  }

  &__info {
    margin-top: 1.25rem;
    font-size: 0.75rem;
    color: $footer-color-info;
  }
}
