.header {
  position: relative;
  z-index: 2;
  padding-top: 56px;
  &__logo {
    display: inline-block;
    @extend %background-image;
    background-image: url("../images/logo.png");
    width: 92px;
    height: 41px;
  }
}
